<div class="example">
    <div><div>
        <a name="regular"></a>
        <div class="slider not-touch">
            <div class="content">
                <div class="page">
                    <div class="container crossAxisCentered">
                        <div class="centeredChilds">
                            <div class="centeredChilds">
                                <div>
                                    <div class="partialBorder"></div>
                                    <img src="assets/style/videos/tibere-danse-2.gif" alt="illustrating the project">
                                </div>
                            </div>
                        </div>

                        <div class="centeredChilds">
                            <h2 class="textPurpleGradient">Le concept<div></div></h2>
                            <p>
                                <span class="subTitle">Qu’est-ce que <span class="textPurpleGradient">Bose and Dance</span>?</span>
                                <span>C’est un jeu en réalité augmenté, dans lequel nous vous proposons une battle de danse devant la borne de votre choix. Vous serez en compétitions face à d’autres personnes du centre Beaugrenelle. A vous de choisir votre musique préférée, d’enfiler votre casque et le jeu commence. Des hôtesses seront là pour vous accompagner tout au long de votre expérience. Votre danse sera retranscrite sur un écran au 3e étage, les passants pourront voter pour la danse qu’ils auront préférée.</span>
                                <span>Si vous êtes le meilleur, vous gagnerez un casque Bose.</span>
                                <span>À vous de jouer !</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="page">
                    <div class="page_content">
                        <div class="deco">
                            <img src="assets/style/images/swipe/img1.png"/>
                        </div>
                        <div class="text">
                            <h2 class="textPurpleGradient">Etape 1</h2>
                            <p>ur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                    <div class="point">
                        <img src="assets/style/images/swipe/p1.PNG"/>
                    </div>
                </div>
                <div class="page">
                    <div class="page_content">
                        <div class="deco">
                            <img src="assets/style/images/swipe/img2.png"/>
                        </div>
                        <div class="text">
                            <h2 class="textPurpleGradient">Etape 2</h2>
                            <p>ur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                    <div class="point">
                        <img src="assets/style/images/swipe/p2.PNG"/>
                    </div>
                </div>
                <div class="page">
                    <div class="page_content">
                        <div class="deco">
                            <img src="assets/style/images/swipe/img3.png"/>
                        </div>
                        <div class="text">
                            <h2 class="textPurpleGradient">Etape 3</h2>
                            <p>ur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                    <div class="point">
                        <img src="assets/style/images/swipe/p3.PNG"/>
                    </div>
                </div>
                <div class="page">
                    <div class="page_content">
                        <div class="deco">
                            <img src="assets/style/images/swipe/img4.png"/>
                        </div>
                        <div class="text">
                            <h2 class="textPurpleGradient">Etape 4</h2>
                            <p>ur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                    <div class="point">
                        <img src="assets/style/images/swipe/p4.PNG"/>
                    </div>
                </div>
                <div class="page">
                    <div class="page_content">
                        <div class="deco">
                            <img src="assets/style/images/swipe/img5.png"/>
                        </div>
                        <div class="text">
                            <h2 class="textPurpleGradient">Etape 5</h2>
                            <p>ur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                    <div class="point">
                        <img src="assets/style/images/swipe/p5.PNG"/>
                    </div>
                </div>
                <div class="page">
                    <div class="page_content">
                        <div class="deco">
                            <img src="assets/style/images/swipe/img6.png"/>
                        </div>
                        <div class="text">
                            <h2 class="textPurpleGradient">Etape 6</h2>
                            <p>ur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat. Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                    <div class="point">
                        <img src="assets/style/images/swipe/p6.PNG"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


        <script type="text/javascript" src="assets/JS/libs/swipe/hammer.js"></script>

        <script type="text/javascript" src="assets/JS/libs/swipe/slider.js"></script>
        <script type="text/javascript" src="assets/JS/libs/swipe/slider-touch.js"></script>
        <script type="text/javascript">
            $(function() {
                $('.slider.touch').pagesSliderTouch();
                $('.slider.not-touch').pagesSlider();
            });
        </script>