<div class="example">
    <div>
        <div>
            <a name="regular"></a>
            <div class="slider not-touch">
                <div class="content">

                    <div class="page">
                        <div class="page_content">
                            <div id="gif" class="deco">
                                <img src="assets/style/images/swipe/tibere-danse-2.gif" alt="illustrating the project">
                            </div>

                            <div class="centeredChilds">
                                <h2 class="textPurpleGradient">Le concept<div></div></h2>
                                <p>
                                    <span class="subTitle">Qu’est-ce que <span class="textPurpleGradient">Bose and Dance</span>?</span>
                                    <span>C’est un jeu en réalité augmenté, dans lequel nous vous proposons une battle de danse devant la borne de votre choix. Vous serez en compétitions face à d’autres personnes du centre Beaugrenelle. A vous de choisir votre musique préférée, d’enfiler votre casque et le jeu commence. Des hôtesses seront là pour vous accompagner tout au long de votre expérience. Votre danse sera retranscrite sur un écran au 3e étage, les passants pourront voter pour la danse qu’ils auront préférée.</span>
                                    <span>Si vous êtes le meilleur, vous gagnerez un casque Bose.</span>
                                    <span>À vous de jouer !</span>
                                </p>
                            </div>
                        </div>
                        <div class="point">
                            <img src="assets/style/images/swipe/p1.PNG"/>
                        </div>
                    </div>

                    <div class="page">
                        <div class="page_content">
                            <div class="deco">
                                <img src="assets/style/images/swipe/img1.png"/>
                            </div>
                            <div class="text">
                                <h2 class="textPurpleGradient">Etape 1</h2>
                                <p>Les flashs de la borne interpelle les
                                    passants. Lorsqu’on passe sur le cercle
                                    devant la borne,le jeu s’active.
                                </p>
                            </div>
                        </div>
                        <div class="point">
                            <img src="assets/style/images/swipe/p1.PNG"/>
                        </div>
                    </div>

                    <div class="page">
                        <div class="page_content">
                            <div class="deco">
                                <img src="assets/style/images/swipe/img2.png"/>
                            </div>
                            <div class="text">
                                <h2 class="textPurpleGradient">Etape 2</h2>
                                <p>Le jeu a commencé, il faut suivre la chorégraphie
                                    sur la borne pour accumuler le plus de points.
                                </p>
                            </div>
                        </div>
                        <div class="point">
                            <img src="assets/style/images/swipe/p2.PNG"/>
                        </div>
                    </div>

                    <div class="page">
                        <div class="page_content">
                            <div class="deco">
                                <img src="assets/style/images/swipe/img3.png"/>
                            </div>
                            <div class="text">
                                <h2 class="textPurpleGradient">Etape 3</h2>
                                <p>Les joueurs des bornes s'affronteront dans une battle de danse
                                    dans le but d'arriver en finale
                                </p>
                            </div>
                        </div>
                        <div class="point">
                            <img src="assets/style/images/swipe/p3.PNG"/>
                        </div>
                    </div>

                    <div class="page">
                        <div class="page_content">
                            <div class="deco">
                                <img src="assets/style/images/swipe/img4.png"/>
                            </div>
                            <div class="text">
                                <h2 class="textPurpleGradient">Etape 4</h2>
                                <p>Félicitations ! Il reste plus que toi et un autre de tes concurrents pour la
                                    finale. Augmente ton score le plus haut possible pour être le grand gagnant.
                                </p>
                            </div>
                        </div>
                        <div class="point">
                            <img src="assets/style/images/swipe/p4.PNG"/>
                        </div>
                    </div>

                    <div class="page">
                        <div class="page_content">
                            <div class="deco">
                                <img src="assets/style/images/swipe/img5.png"/>
                            </div>
                            <div class="text">
                                <h2 class="textPurpleGradient">Etape 5</h2>
                                <p>Durant votre expérience, les passants du centre auront un accès aux votes via
                                    des buzzers afin de sélectionner le meilleur joueur.
                                </p>
                            </div>
                        </div>
                        <div class="point">
                            <img src="assets/style/images/swipe/p5.PNG"/>
                        </div>
                    </div>

                    <div class="page">
                        <div class="page_content">
                            <div class="deco">
                                <img src="assets/style/images/swipe/img6.png"/>
                            </div>
                            <div class="text">
                                <h2 class="textPurpleGradient">Etape 6</h2>
                                <p>Chaque jour un casque à gagner pour le grand gagnant. Un bon de -30% pour tous les finalistes
                                    ainsi que -10% pour tous les participants.
                                </p>
                            </div>
                        </div>
                        <div class="point">
                            <img src="assets/style/images/swipe/p6.PNG"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


        <script type="text/javascript" src="assets/JS/libs/swipe/hammer.js"></script>

        <script type="text/javascript" src="assets/JS/libs/swipe/slider.js"></script>
        <script type="text/javascript" src="assets/JS/libs/swipe/slider-touch.js"></script>

        <script type="text/javascript">
            $(function() {
                $('.slider.touch').pagesSliderTouch();
                $('.slider.not-touch').pagesSlider();
            });
        </script>
</div>