<div id="title">

    <h2>Notre stratégie de communication</h2>

</div>

<div id="container">


    <div class="para">


        <p>Nous avons constaté que vous possédez une grande communauté qu’anime votre enseigne sur vos réseaux sociaux, il nous semble donc pertinent de faire une communication sur vos réseaux afin de parler de notre évènement. Après avoir étudié vos réseaux sociaux et votre communication, nous avons pu élaborer une stratégie de communication.<br>
            Nous avons aussi décidé de faire une communication sur tous vos réseaux sociaux afin de prévenir les gens sur l’évènement qui aura lieu, et de faire interagir votre communauté. Notre stratégie serra donc accès sur les jeunes grâce à notre jeu Bose and Dance qui sera animé du 1er au 31 mars 2017. Nous avons aussi décidé de faire une communication sur tous vos réseaux sociaux afin de prévenir les gens sur l’évènement qui aura lieu, et de faire interagir votre communauté.<br><br>

            Communication sur Facebook et Twitter :<br>
            Nous avons choisi de faire 6 posts Twitter et 7 posts Facebook<br><span class="color">1er post FB et Twitter : « Lancement du jeu Bose and Dance avec à la clés 31 casque Bose à gagner »</span><br><br>




            Nous le publierons le 21 février à 12h00 Nous mettrons une photo que nous posterons avant le début du jeu afin de prévenir les personnes avant, le post serra donc aimer, commenter, et partager. Nous avons choisi l’heure du repas, car à cette heure, les gens partent le plus souvent en pause déjeuné et on le temps de pouvoir allé sur les réseaux</p>

        <div class="div-img">
            <img class="img" id="one" src="Medias/1.png">
            <img class="img" src="Medias/2.png">

        </div>
    </div>


    <div class="para">



        <p>

            <span class="color">2ème post FB et Twitter : « N’oublier pas notre jeux concours »</span>

            Nous le publierons le 1 Mars à 12h05  Nous posterons une photo au début du jeu afin rappeler aux gens de ne pas oublier le grand jeu Bose and Dance. Nous avons choisi l’heure du repas car à cette heure les gens partent le plus souvent en pause déjeuné et on le temps de pouvoir allez sur les réseaux.</p>

        <div class="div-img">

            <img class="img" src="Medias/3.png">
            <img class="img" src="Medias/4.png">

        </div>


    </div>

    <div class="para">

        <p>

            <span class="color">3ème post FB et Twitter : On rappellera encore une fois le jeu avec un Gif.</span>

            Nous le publierons le 8 Mars à 12h05  Nous posterons une photo de la devanture du magasin. Nous avons choisi l’heure du repas car à cette heure les gens partent le plus souvent en pause déjeuné et on le temps de pouvoir allé sur les réseaux.
        </p>

        <div class="div-img">
            <img class="img" src="Medias/5.jpg">
            <img class="img" src="Medias/6s.jpg">
        </div>

        <div class="para">

            <p>

                <span class="color">4ème post FB et Twitter : Laisser vos avis en commentaire.</span>


                Nous le publierons le 15 Mars à 11h45  Nous posterons une photo du jeu Bose and Dance dans le centre commerciale. Nous avons choisi l’heure du repas, car à cette heure, les gens partent le plus souvent en pause déjeuné et on le temps de pouvoir allé sur les réseaux.</p>

            <div class="div-img">
                <img class="img" src="Medias/7.png">
                <img class="img" src="Medias/8.png">

            </div>
        </div>

        <div class="para">


            <p> <span class="color"> 5ème post FB et Twitter : Tag ton ami et gagne -30%.<br></span>

                Nous le publierons le 15 Mars à 11h45  Nous posterons une photo. Nous avons choisi l’heure du repas car à cette heure les gens partent le plus souvent en pause déjeuné et on le temps de pouvoir allez sur les réseaux.
            </p>

            <div class="div-img">
                <img class="img" src="Medias/9.png">
                <img class="img" src="Medias/10.png">

            </div>
        </div>

        <div class="para">

            <p> <span class="color">6ème post FB: Publie ta photo la plus fun avec notre nouveau filtre Snapchat et gagne -30%.</span>

                Nous le publierons le 18 Mars à 12h20  Nous posterons une photo d’une personne avec le filtre Snapchat que nous avons créé pour l’évènement. Nous avons choisi l’heure du repas car à cette heure les gens partent le plus souvent en pause déjeuné et on le temps de pouvoir allez sur les réseaux. Les gens pourront donc partager la photo.
            </p>

            <div class="div-img">
                <img class="img" src="Medias/11.jpg">
            </div>



        </div>

        <div class="para">
            <p>
                <span class="color"> 7ème post FB: Félicitation au gagnant et remerciement à tous les participants.</span>

                <br>Nous le publierons le 1 Avril à 11h30  Nous posterons une photo mosaïque de tous les gagnants avec leur casque, et nous remercions toutes les personnes qui ont participer à notre jeu.

            </p>

            <div class="div-img">
                <img class="img" src="Medias/12.jpg">
                <img class="img" src="Medias/13.jpg">

            </div>
        </div>

        <div class="para">

            <p>

                Nous allons poster un dernier article sur le Facebook du centre commercial de Beaugrenelle. Nous voulons prévenir les clients de l’évènement Bose and Dance dans le centre commercial.


            </p>

            <div class="div-img">
                <img class="img" src="Medias/14.png">

            </div>
        </div>

        <div class="para">

            <p><span class="color">Communication Instagram :<br></span>

                Nous allons publier des nouvelles photos sur votre compte Instagram afin de faire connaître notre grand jeu concours auprès d’un maximum de personne

            </p>

            <div class="div-img">
                <img class="img" src="Medias/15.png">
            </div>


        </div>

        <div class="para">

            <p>


                <span class="color"> Communication Snapchat :<br></span>

                Nous avons créé un filtre Snapchat pour notre évènement, il fonctionnera avec la géolocalisation autour des bornes du jeu et de notre panneau principal ou se situe la battle de danse dans le centre commercial de Beaugrenelle.
            </p>
            <div class="div-img">
                <img class="img" src="Medias/16.jpg">
            </div>

        </div>

        <div class="para">
            <p>
                <span class="color">Notre référencement : <br></span>

                Afin d’accéder à un référencement judicieux sur Google Adwords, nous vous proposons un référencement payant via des campagnes “recherches” à travers des annonces textuelles, au “Paiement Par Clic” (CPC) a un cout plus élevé que la concurrence, pour être le plus visible parmi les résultats affiches.<br>
                Nous ciblerons la région parisienne. Ajouter au “quality score” à travers le design que nous vous proposerons, cela vous permettra le meilleur référencement possible.<br>
                Il convient de placer un certain budget sur une 20 aine de mot clé en rapport avec Bose, le jeu concours, et Beaugrenelle, le prix diffère en fonction du nombre de recherché de ces mots.

            </p>

            <div class="div-img">
                <img class="img" src="Medias/17.jpg">
            </div>

        </div>

    </div>
</div>