body {
  margin: 0;
  overflow: hidden;
  background-color: white;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: Roboto; }

.pseudoBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 7vh;
  background-color: #3c3c3c; }
  .menu > div {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .menu > div img {
      width: 13vw;
      height: 6; }
    .menu > div > div {
      width: 33vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .menu > div > div a {
        color: white;
        text-decoration: none; }

@keyframes musicAnimationLeft {
  25% {
    transform: rotate(-45deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(45deg); } }
@keyframes musicAnimationRight {
  25% {
    transform: rotate(45deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-45deg); } }
.musicAnimationRight {
  animation: musicAnimationRight infinite 2s; }

.musicAnimationLeft {
  animation: musicAnimationLeft infinite 2s; }

/*animations*/
h2 {
  font-size: 7.5vh; }

.musicNote {
  transform-origin: center;
  z-index: -1;
  position: absolute;
  color: #be0f49;
  opacity: 0.15;
  font-size: 4vh; }

.pseudoBody.page1 {
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100); }
  .pseudoBody.page1 .centered {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .pseudoBody.page1 .face {
    width: 150px;
    height: 150px;
    background-color: #EBEBEB;
    border-radius: 50%;
    -webkit-mask: url(images/bose-rond.png) top left/cover;
    mask: url(images/bose-rond.png) top left/cover; }
  .pseudoBody.page1 .back {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: -webkit-linear-gradient(top, #be0f49 0%, #8323dc 40%, #be0f49 50%, #8323dc 60%, #be0f49 70%, #8323dc 100%);
    background: linear-gradient(top, #FF694C 0%, #F15378 30%, #E053D5 40%, #B54BEB 60%, #5B86EE 70%, #00EEEB 100%);
    -webkit-filter: saturate(0.5);
    filter: saturate(0.5);
    -webkit-transform: scale(1) rotate(-25deg);
    transform: scale(1) rotate(-25deg);
    -webkit-animation: spin 0.3s infinite linear alternate;
    animation: spin 0.3s infinite linear alternate; }
  .pseudoBody.page1 .headphones {
    width: 320px;
    height: 120px;
    -webkit-animation: bounce 0.3s linear infinite alternate;
    animation: bounce 0.3s linear infinite alternate; }
  .pseudoBody.page1 .earmuff {
    width: 20px;
    height: 120px;
    background: #561d73;
    border-radius: 50% 10px 10px 50%;
    border-right: #561d73 solid 40px; }
  .pseudoBody.page1 .earmuff:nth-child(2) {
    float: right;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .pseudoBody.page1 .band {
    width: 320px;
    height: 350px;
    border-radius: 50%;
    background-color: transparent;
    border-top: #be0f49 solid 40px;
    z-index: -99; }
  .pseudoBody.page1 .music {
    width: 450px;
    height: 50px; }
  .pseudoBody.page1 .group1 {
    float: left; }
  .pseudoBody.page1 .group2 {
    float: right;
    -webkit-transform: rotate(180deg); }
  .pseudoBody.page1 .wave {
    display: inline-block;
    width: 10px;
    height: 50px;
    opacity: 0.2;
    background-color: #5C32D4;
    -webkit-animation: wave 0.3s 0.2s linear infinite alternate;
    animation: wave 0.3s 0.2s linear infinite alternate; }
  .pseudoBody.page1 .wave:nth-child(2) {
    -webkit-animation: wave 0.3s 0.1s linear infinite alternate;
    animation: wave 0.3s 0.1s linear infinite alternate; }
  .pseudoBody.page1 .wave:nth-child(3) {
    -webkit-animation: wave 0.3s linear infinite alternate;
    animation: wave 0.3s linear infinite alternate; }
@keyframes spin {
  to {
    -webkit-filter: saturate(1);
    -webkit-transform: scale(1.05) rotate(-25deg); } }
@-webkit-keyframes spin {
  to {
    -webkit-filter: saturate(1);
    -webkit-transform: scale(1.05) rotate(-25deg); } }
@keyframes bounce {
  to {
    -webkit-transform: scale(1.05); } }
@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.05); } }
@-webkit-keyframes wave {
  to {
    opacity: 1;
    -webkit-transform: scaleY(2); } }
  .pseudoBody.page1 * {
    box-sizing: border-box;
    margin: 0; }
  .pseudoBody.page1 h1, .pseudoBody.page1 p, .pseudoBody.page1 h2, .pseudoBody.page1 h3, .pseudoBody.page1 h4, .pseudoBody.page1 ul, .pseudoBody.page1 li, .pseudoBody.page1 div {
    margin: 0;
    padding: 0; }
  .pseudoBody.page1 .loading-page {
    background: #fff;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .pseudoBody.page1 .loading-page .counter {
    text-align: center; }
  .pseudoBody.page1 .loading-page .counter h1 {
    color: #555555;
    font-size: medium;
    margin-top: -20px;
    padding-top: 270px;
    font-family: Questrial; }
@font-face {
  .pseudoBody.page1 {
    font-family: 'Questrial';
    src: url "Questrail-Regular.otf"; } }
  .pseudoBody.page1 .loading-page .counter hr {
    background: #fff;
    border: none;
    height: 1px; }
  .pseudoBody.page1 .loading-page .counter {
    position: relative;
    width: 200px; }
  .pseudoBody.page1 .loading-page .counter h1.abs {
    position: absolute;
    top: 0;
    width: 100%; }
  .pseudoBody.page1 .loading-page .counter .color {
    width: 0px;
    overflow: hidden;
    color: #f60d54; }
@-webkit-keyframes flash {
  0% {
    opacity: 1; }
  25% {
    opacity: .2; }
  50% {
    opacity: 0; }
  75% {
    opacity: .2; }
  100% {
    opacity: 1; } }
  .pseudoBody.page1 .flashit {
    -webkit-animation: flash linear 2s infinite;
    animation: flash linear 1.5s infinite;
    font-family: questrial, sans-serif;
    font-size: 15px; }
  .pseudoBody.page1 #centerme {
    width: 100%;
    position: absolute;
    bottom: 10%;
    text-align: center; }

.pseudoBody.page2 {
  background: linear-gradient(to bottom, #BE0F49 30%, #921EB8 70%) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pseudoBody.page2 #myLogoContainer {
    width: 40%;
    height: 10%; }
  .pseudoBody.page2 .enlarging {
    animation: enlarging 1s forwards; }
@keyframes enlarging {
  100% {
    transform: scale(120); } }
  .pseudoBody.page2 svg {
    background: url(#MyGradient); }
  .pseudoBody.page2 .path {
    fill: transparent; }
  .pseudoBody.page2 .path {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    stroke-width: 5;
    animation: dash 4s linear;
    animation-fill-mode: forwards;
    stroke: #fff; }
@keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: url(#MyGradient); } }
  .pseudoBody.page2 .fill_letter_none {
    fill: transparent; }

.pseudoBody.page3 {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin-left: 5vw;
  /* beginning of properties of first column*/
  /* end of properties of first column*/
  /*beginning of properties of second column*/ }
  .pseudoBody.page3 .centeredChilds {
    justify-content: center; }
  .pseudoBody.page3 .crossAxisCentered {
    align-items: center; }
  .pseudoBody.page3 .textPurpleGradient {
    background: -webkit-linear-gradient(left, #BE0F49, #921EB8);
    background: linear-gradient(left, #BE0F49, #921EB8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .pseudoBody.page3 .container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row; }
  .pseudoBody.page3 .container > div {
    display: flex;
    height: 85%; }
  .pseudoBody.page3 .container > div:nth-child(1) {
    width: 30%;
    align-items: center; }
  .pseudoBody.page3 .container > div:nth-child(1) > div {
    width: 52%;
    display: flex;
    flex-direction: column;
    height: 80%;
    position: relative; }
  .pseudoBody.page3 .container > div:nth-child(1) > div > div {
    width: 100%;
    height: 100%; }
  .pseudoBody.page3 .container > div:nth-child(1) > div > div > img {
    width: 100%;
    height: 100%;
    display: block; }
  .pseudoBody.page3 .container > div:nth-child(1) > div > div > div {
    width: 35%;
    height: 30%;
    position: absolute;
    bottom: -30px;
    left: -30px; }
  .pseudoBody.page3 .partialBorder {
    border-bottom: 10px #f5dbe4 solid;
    border-left: 10px #f5dbe4 solid; }
  .pseudoBody.page3 .subTitle {
    font-size: 4vh;
    margin-bottom: 5vh; }
  .pseudoBody.page3 .container > div:nth-child(2) {
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin-left: 3%; }
  .pseudoBody.page3 .container > div:nth-child(2) > h2 {
    position: relative;
    margin: 0;
    align-self: center; }
  .pseudoBody.page3 .container > div:nth-child(2) > h2 > div {
    width: 50vw;
    overflow-x: hidden;
    background: -webkit-linear-gradient(left, rgba(188, 16, 76, 0), rgba(188, 16, 76, 0.2));
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }
  .pseudoBody.page3 .container > div:nth-child(2) > p {
    display: flex;
    flex-direction: column;
    line-height: 5vh;
    font-size: 3vh; }

/*# sourceMappingURL=style.css.map */
