@keyframes musicAnimationLeft{
    25%{transform: rotate(-45deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(45deg);}
}

@keyframes musicAnimationRight{
    25%{transform: rotate(45deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(-45deg);}
}

.musicAnimationRight{
    animation: musicAnimationRight infinite 2s;
}

.musicAnimationLeft{
    animation: musicAnimationLeft infinite 2s;
}


/*animations*/

html{
    width:100%;
    height:100%;
}

body{
    display: flex;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    margin-left:5vw;
}

h2{
    font-size: 7.5vh;
}

.musicNote{
    transform-origin: center;
    z-index: -1;
    position: absolute;
    color: #be0f49;
    opacity:0.15;
    font-size: 4vh;
}

.centeredChilds{
    justify-content: center;
}

.crossAxisCentered{
    align-items:center;
}

.textPurpleGradient{
    background: -webkit-linear-gradient(left, #BE0F49, #921EB8);
    background: linear-gradient(left, #BE0F49, #921EB8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container{
    width:80%;
    height: 100%;
    display: flex;
    flex-direction:row;
}

.container>div{
    display:flex;
    height:85%;
}

.container>div:nth-child(1){
    width:30%;
    align-items: center;
}

/* beginning of properties of first column*/

.container>div:nth-child(1)>div{
    width:52%;
    display: flex;
    flex-direction: column;
    height:80%;
    position: relative;
}

.container>div:nth-child(1)>div>div{
    width:100%;
    height:100%;
}

.container>div:nth-child(1)>div>div>img{
    width:100%;
    height:100%;
    display: block;
}

.container>div:nth-child(1)>div>div>div{
    width:35%;
    height:30%;
    position: absolute;
    bottom: -30px;
    left:-30px;
}

.partialBorder{
    border-bottom: 10px #f5dbe4 solid ;
    border-left: 10px #f5dbe4 solid;
}

/* end of properties of first column*/

/*beginning of properties of second column*/

.subTitle{
    font-size: 4vh;
    margin-bottom: 5vh;
}

.container>div:nth-child(2){
    flex-direction:column;
    justify-content:space-between;
    width:70%;
    margin-left:3%;
}

.container>div:nth-child(2)>h2{
    position: relative;
    margin:0;
    align-self: center;
}

.container>div:nth-child(2)>h2>div{
    width: 50vw;
    overflow-x: hidden;
    background: -webkit-linear-gradient(left, rgba(188, 16, 76, 0), rgba(188,16,76,0.2));
    position: absolute;
    top:0;
    left:0;
    height:100%;
}

.container>div:nth-child(2)>p{
    display: flex;
    flex-direction:column;
    line-height:5vh;
    font-size: 3vh;
}